@import "mixins";

$navbar-height: 50px;
.navbar {
  box-shadow: #3a3a3a 0 2px 6px 3px;
  font-weight: 600;
  background: linear-gradient(#e6e6e6, #3a3a3a);
  @include flex-col();
  
  &--menu {
    position: relative;

    &:hover {
      > span {
        @include text-shadow(#f5ce04)
      }
    }

    cursor: pointer;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    color:#1c1c1c;
  }

  &--submenu {
    @include flex-col();
    @include text-shadow-black;
    position: absolute;
    display: none;
    left: 100%;
    top:0;
    background: linear-gradient(#e6e6e6, #6f6f6f);
    border: 1px solid #000;
    box-shadow: #000 0 1px 10px 1px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 175px;
  }

  &--menu:hover &--submenu {
    display: block;
  }

  &--item {
    white-space: nowrap;
    padding: 2px 15px;
    border-bottom: 1px solid #000;

    &.router-link-active {
      background: #5c5c5c;
    }

    &:hover {
      background: #515151;
      color:#f5ce04;
    }
    &:first-child{
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
    }
  }
}