@import "mixins";

$navbar-height: 50px;
.navbar {
  box-shadow: #000 0 2px 6px 3px;
  background: linear-gradient(#292929, #101010);
  @include flex-col();
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  
  &--menu {
    position: relative;

    &:hover {
      background: linear-gradient(#515151, #101010);;
      > span {
        color:#f5ce04;
      }
    }

    cursor: pointer;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    @include text-shadow-black;
  }

  &--submenu {
    @include flex-col();
    position: absolute;
    display: none;
    left: 100%;
    top:0;
    background: #292929;
    border: 1px solid #000;
    box-shadow: #000 0 2px 10px 2px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  &--menu:hover &--submenu {
    display: block;
  }

  &--item {
    white-space: nowrap;
    padding: 2px 15px;
    border-bottom: 1px solid #000;

    &.router-link-active {
      background: #5c5c5c;
    }

    &:hover {
      background: #515151;
      color:#f5ce04;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}